@import "../layouts/app.css";

.faq-container {
    /*background-color: #f7c6c5;*/
    /*display: flex;*/
}

.accordion {
    background-color: var(--zmwhite);
    /*color: #3f9ae5;*/
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    /*outline: none;*/
    font-size: 1.1em;
    transition: 0.4s;
}

.active, .accordion {
    /*background-color: #4c110f;*/
}

.panel {
    padding: 0 18px;
    /*background-color: white;*/
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
h3 {
    border-bottom: 1px solid gray;
}
