ip: "192.168.10.10"
memory: 2048
cpus: 2
provider: virtualbox

authorize: ~/.ssh/id_rsa.pub

keys:
    - ~/.ssh/id_rsa

folders:
    -
        map: '~/Workspace/webProject2/webProject2-app'
        to: /home/vagrant/app

sites:
    -
        map: webProject2.test
        to: /home/vagrant/app/public

databases:
    - webProject2

name: webProject2

hostname: webProject2

