@import "layouts/app.css";
main {
    background-color: var(--zmwhite);
}
.banner img {
    max-width: 100%;
}
 .shopNowBtn {
     background-color: var(--zmmediumblue);
     border-radius: 5px;
     border: none;
     width: 306px;
     height: 86px;
     font-size: 1.5em;
     cursor: pointer;
 }
 .shopNow {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 10px 0;
 }
 p.bText {
     margin-left: auto;
     margin-right: auto;
     width: 80%;
     text-align: center;
 }
 figure {
     position: relative;
     text-align: center;
 }
 figure img {
     width: 673px;
     height: 440px;
 }
 .hrRule{
     display: flex;
 }
 .hrLeft, .hrRight {
     border-bottom: 1px solid black;
     width: 100%;
     height: 0%;
     padding-bottom: 50px;
 }
