@import "../layouts/app.css";

li {
    list-style-type: none;
}
.packing-slip-btn, .re-order-btn, .del-order-btn {
    background-color: var(--zmblue);
    color: black;
    /*border-radius: 5px;*/
    border: none;
    font-size: 1em;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}
.packing-slip-btn {
    width: auto;
}
.del-order-btn {
    background-color: var(--zmred);
    margin-left: 20px;
}
.order-btns {
    display: flex;
}

@media print {
    .main-nav, .mobile-nav, button, form, footer p:first-of-type {
        display: none;
    }
    @page {
        size: auto;
        margin: 0;
    }
    .order-container {
        margin-left: 35px;
    }
}
