@import "../layouts/app.css";

.store-pmt-btn, .online-pmt-btn {
    background-color: var(--zmblue);
    /*border-radius: 5px;*/
    border: none;
    width: 120px;
    height: 36px;
    font-size: 1em;
    cursor: pointer;
}
div > h4 {
    font-weight: bold;
}
.online-pmt-container {
    display: flex;
    flex-direction: row;
}
.bill-info {
    display: flex;
    flex-direction: row;
}
.bill-inputs > input {
    margin: 0 0 10px 30px;
}
.bill-labels > label{
    margin-top: 7px;
}
.online-pmt-info {
    margin-left: 30px;
}
.pickupDate {
    padding-top: 20px;
    display: block;
}

@media (max-width: 1000px) {
    .online-pmt-container{
        display: flex;
        flex-direction: column;
    }
    #pickupDate {
        margin-left: 15px;
    }
    #payment-form::before {
        content: "Billing Information";
        font-weight: bold;
        font-size: 1.5em;
    }
    #card-element::before {
        content: "Payment Information";
        font-weight: bold;
        font-size: 1.5em;
    }
    #payment-error {
        margin-bottom: 60px;
    }
    .online-pmt-info{
        margin-left: 0;
        padding-left: 0;
    }
}

