@import "../layouts/app.css";

.cust-container {
    display: flex;
    flex-direction: row;
}
input[type=submit] {
    background-color: var(--zmred);
    /*border-radius: 5px;*/
    border: none;
    width: 153px;
    height: 43px;
    font-size: 1.5em;
    cursor: pointer;
    margin-left: 125px;
}
.acc-container{
    margin-left: 200px;
    /*background-color: #98e1b7;*/
    position: relative;
}
.update-info{
    padding-top: 100px;
    /*background-color: #3f9ae5;*/
}
a > button {
    width: 100%;
    text-align: left;
    background-color: var(--zmblue);
    margin-bottom: 10px;
    border: none;
}
.update-info > button > a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
}
.cust-info {
    margin-left: 20px;
    text-align: left;
    display: block;
}
.cust-label {
    display: block;
}
.user-info {
    display: flex;
    flex-direction: row;
}
.acc-header {
    padding-left: 10px;
    margin-top: 10px;
}
.cust-label {
    font-weight: bold;
}

/*Mobile Nav*/
@media (max-width: 1000px) {
    .cust-container {
        display: flex;
        flex-direction: column;
    }
    .update-info{
        padding: 0;
        width: 40%;
        margin-left: 150px;
    }
    .cust-container h1 {
        text-align: center;
    }
    .acc-container {
        text-align: center;
        margin: 0;
        padding: 0;
    }
    input[type=submit] {
        background-color: var(--zmred);
        /*border-radius: 5px;*/
        border: none;
        width: 153px;
        height: 43px;
        font-size: 1.5em;
        cursor: pointer;
        margin-left: 0;
    }
    .cust-info {
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-left: 5px;
        /*overflow: hidden;*/
    }
    .acc-header {
        margin: 0;
    }
    .cust-label {
        text-align: left;
    }
}
