
.products {
    background-color: #f7c6c5;
    display: flex;
    flex-direction: column;
}
.prod-heading {
    display: flex;
}
.heading {
    padding: 20px 0;
    padding-left: 10px;
    background-color: var(--zmmediumblue);
    width: 100%;
    font-size: 1.5em;
    border: 1px solid black;
    text-align: center;
}
.prod {
    display: flex;
}
.prod-item {
width: 25%;
    border: 1px solid black;
    text-align: center;
    /*margin-right: 50px;*/
    /*padding-right: 100px;*/
}
.inv-btn {
    width: 25%;
    background-color: #98e1b7;
    display: flex;
}
