@import "../layouts/app.css";


.heading-container, .rmv-orders-head-containter {
    /*background-color: var(--zmmediumblue);*/
    width: 90%;
}
.order-heading, .rmv-orders-heading {
    display: flex;
    flex-direction: row;
    background-color: var(--zmmediumblue);
}
.heading {
    padding: 20px 0 20px 10px;
    /*background-color: var(--zmmediumblue);*/
    width: 20%;
    font-size: 1.5em;
    /*border: 1px solid black;*/
    text-align: center;
}
.order, .rmv-order {
    display: flex;
    flex-direction: row;
}
.order-item, .rm-order-item {
    width: 13%;
    text-align: center;
    border-bottom: 1px solid black;
    padding: 2px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}
.rm-order-item {
    width: 100%;
}
 .order-btn {
     background-color: var(--zmblue);
     /*border-radius: 5px;*/
     border: none;
     cursor: pointer;
     padding-top: 5px;
     width: 55%;
 }
 .order-not-paid {
     color: var(--zmred);
     font-weight: bold;
 }
 .order-paid {
     color: var(--zmdarkgreen);
     font-weight: bold;
     font-size: 1.3em;
 }
 .rm-heading {
     padding: 20px 0 20px 10px;
     background-color: var(--zmmediumblue);
     width: 100%;
     font-size: 1.5em;
     /*border: 1px solid black;*/
     text-align: center;
 }
 input[type=submit] {
     background-color: var(--zmred);
     border: none;
     cursor: pointer;
     margin-top: 3px;
     margin-left: 2px;
     width: 100%;
 }

