
.products {
    /*background-color: #f7c6c5;*/
    display: flex;
    flex-direction: column;
}
.prod-heading {
    display: flex;
}
.heading {
    padding: 20px 0 20px 10px;
    background-color: var(--zmmediumblue);
    width: 100%;
    font-size: 1.5em;
    /*border: 1px solid black;*/
    text-align: center;
}
.prod {
    display: flex;
}
.prod-item {
    width: 25%;
    text-align: center;
}
.inv-btn {
    width: 25%;
    /*background-color: #98e1b7;*/
    display: flex;
    margin-top: 5px;
    padding: 0 15px 0 55px;
}
.min-inv {
    padding-right: 0px;
}
.add-inv {
    padding-left: 25px;
}
input[type=submit], a {
    font-size: 0.7em;
}
