@import "../layouts/app.css";
.heading-container {
    background-color: var(--zmmediumblue);
    width: 100%;
}
.user-heading {
    display: flex;
    flex-direction: row;
}
.heading {
    padding: 20px 0 20px 10px;
    /*background-color: var(--zmmediumblue);*/
    width: 14.2%; /*change to 12.4 if ID fields are needed*/
    font-size: 1.5em;
    /*border: 1px solid black;*/
    text-align: center;
}
.user {
    display: flex;
    flex-direction: row;
}
.user-item {
    width: 14.5%;
    text-align: center;
    border-bottom: 1px solid black;
    padding: 2px 3px;

    /*Un comment if ID fields are needed*/
    /*width: 100%;*/
    /*display: inline-block;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/

}
.view-user-btn{
    background-color: var(--zmblue);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding-top: 5px;
}
input[type=submit] {
    /*background-color: var(--zmmediumblue);*/
    color: black;
}

.rmv-role-btn, .del-usr-btn {
    background-color: var(--zmred);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    /*padding-top: 5%;*/
}
.add-role-btn {
    background-color: var(--zmgreen);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    /*padding-top: 5%;*/
}
