
.products {
    background-color: #f7c6c5;
    display: flex;
    flex-direction: column;
}
.prod-heading {
    display: flex;
}
.heading {
    padding: 20px 0;
    padding-left: 10px;
    background-color: var(--zmmediumblue);
    width: 100%;
    font-size: 1.5em;
}
.prod {
    display: flex;
}
.prod-item {
width: 100%;
}
