@import "../layouts/app.css";

.order-heading {
    display: flex;
    flex-direction: row;
}
.heading {
    padding: 20px 0 20px 10px;
    background-color: var(--zmmediumblue);
    width: 100%;
    font-size: 1.5em;
    /*border: 1px solid black;*/
    text-align: center;
}
.order {
    display: flex;
    flex-direction: row;
}
.order-item {
    width: 25%;
    text-align: center;
    border-bottom: 1px solid black;
    /*margin-top: 10px;*/
}
