/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Montserrat%7COpen+Sans%7CRoboto%7CTitillium+Web&display=swap%27');
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap');


/*Colors*/
:root {

    --zmwhite: #FFFFF4;
    --zmlightblue: #A3D9EF;
    --zmmediumblue: #53C3EF;
    --zmblue: #5A7ABF;
    --zmdarkblue: #3B5998;
    --zmred: #D65D5D;
}

body {

    display: flex;
    flex-direction: column;
    background-color: var(--zmwhite);
    font-family: 'Baloo Chettan 2', cursive;
}

body > nav {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--zmred);
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

body > nav > ul {

    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    height: 100%;
}

nav li {

    display: flex;
    list-style-type: none;
    align-items: center;

}

nav a {

    font-size: 1.5em;
    color: black;
    display: block;

}

nav > ul.right a {

    padding: 15px;
    transition: .5s ease;
}


.currentNavItem {

    background-color: var(--zmmediumblue);
}

nav > ul.right > li > a:hover {

    color: white;
    background-color: var(--zmdarkblue);
    text-decoration: none;
    transition: .5s ease;
}

.dropdown-c {

    position: relative;
    font-size: 1.5em;
    color: black;
    transition: .5s ease;
    padding: 15px;
}

.dropdown-c:hover {

    background-color: var(--zmdarkblue);
    color: white;
    transition: .5s ease;
}

.dropdown-c-content {

    display: none;
    position: absolute;
    padding: 0px;
    top: 50px;
    right: 0px;
    background-color: white;
    min-width: 100%;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;

}

.dropdown-c-content li {

     width: 100%;
}

.dropdown-c-content a {

    width: 100%;
    font-size: 1em;
}

.dropdown-c-content a:hover {

    background-color: var(--zmblue);
    color: white;
    text-decoration: none;
}

.dropdown-c:hover .dropdown-c-content {

    display: block;
}

footer {

    background-color: var(--zmdarkblue);
    color: white;
    font-size: 1.2em;
    padding-left: 20px;
    padding-right: 20px;

}






