@import "../layouts/app.css";

.prod-container{
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    overflow: auto;
}
.prod-img{
    text-align: center;
    font-size: 1.2em;
    background-color: var(--zmblue);
    padding: 10px;
    width: 40%;
    height: 50vh;
    margin-right: 5px;
}
.form-info{
    padding: 10px;
    font-size: 1.2em;
    width: 60%;
    margin-left: 50px;
}
input[type=submit] {
    background-color: var(--zmblue);
    /*border-radius: 5px;*/
    border: none;
    width: 100px;
    height: 35px;
    font-size: 1em;
    cursor: pointer;
}
input[type=number] {
    width:8%;
}
.prod-name {
    font-weight: bold;
    font-size: 1.9em;
}
.prod-price{
    font-weight: bold;
    color: var(--zmblue);
    font-size: 1.3em;
}


/*MOBILE NAV*/
@media (max-width: 1000px) {
    .prod-container{
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
    }
    .prod-img {
        width: 100%;
        /*background-color: red;*/
    }
    .prod-info {
        /*background-color: red;*/
        width: 100%;
        margin-left: 0;
        text-align: justify;
    }

    .add-to-cart {
        /*background-color: blue;*/
        display: block;
        text-align: center;
        margin-top: 10px;
    }
}
