@import "../layouts/app.css";

.prod-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item-container{
    display: flex;
    flex-direction: row;
}
.prod-image {
    display: block;
    /*padding: 50px;*/
    margin: 10px 0px;
    background-color: var(--zmblue);
    width: 250px;
    height: 25vh;
    border-bottom: 1px solid #000000;
}
.prod-info{
    width: 100%;
    margin: 10px 0px;
    padding-left: 10px;
    border-bottom: 1px solid #000000;
}
.prod-sum{
    border-left: 1px solid #000000;
    padding: 0 20px 0 20px;
}
.para{
    padding: 0;
    margin: 0;
}
.prod-price{
    font-weight: bold;
    color: var(--zmblue);
    font-size: 1.3em;
}
.prod-name {
    font-weight: bold;
    font-size: 1.9em;
}
ul{
    list-style-type: none;
}
li {
    /*border-bottom: 1px solid #000000;*/
}
input[type=submit] {
    background-color: var(--zmred);
    /*border-radius: 5px;*/
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    padding: 0 5px;
}
.prod-checkout {
    background-color: var(--zmblue);
    /*border-radius: 5px;*/
    border: none;
    width: 100px;
    height: 35px;
    font-size: 1.5em;
    cursor: pointer;
    color: #000000;
}
.prod-edit {
    background-color: var(--zmblue);
    /*border-radius: 5px;*/
    border: none;
    width: 50px;
    height: 17px;
    font-size: .8em;
    cursor: pointer;
    color: #000000;
    text-align: center;
}
.prod-checkout, .prod-edit > a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: #000000;
}
.prod-info-seg{
    padding-top: 75px;
    display: block;
}

@media (max-width: 1000px) {
    .prod-container {
        display: flex;
        flex-direction: column;
        border: none;
    }
    .item-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .prod-image{
        width: 100%;
    }
    .prod-info {
        /*background-color: red;*/
        margin: 0;
        padding-left: 0;
    }
    .prod-info-seg{
        padding-top: 0px;
        display: block;
    }
    .prod-checkout {
        margin-bottom: 50px;
    }
    .para > span {
        font-weight: bold;
    }
    .prod-sum {
        border: none;
    }
}
