@import "../layouts/app.css";

.edit-cart-container{
    padding-left: 350px;
}
input[type=submit] {
    background-color: var(--zmblue);
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 40px;
    cursor: pointer;
}
.edit-fields {
    display: flex;
}
input[type=text] {
    margin-left: 30px;
}
